{% load static %}

<!-- bottom section -->
<section class="bottom-section">
  <div class="bottom-text">
    <h2>A complete library solution</h2>

    <p>
      Our system helps librarians and students stay organized and achieve more.
    </p>
  </div>

  <div class="bottom-features">
    <div class="bottom-card">
      <span>📖</span>
      <p>Book Management</p>
    </div>
    <div class="bottom-card">
      <span>👥</span>
      <p>Member Management</p>
    </div>
    <div class="bottom-card">
      <span>💳</span>
      <p>Fine Management</p>
    </div>
    <div class="bottom-card">
      <span>🔁</span>
      <p>Issues and Returns</p>
    </div>
    <div class="bottom-card">
      <span>📊</span>
      <p>Reports and analytics</p>
    </div>
  </div>
</section>
