{% extends 'admin_base.html' %}
{% load static %}

{% block title %}
Add Book
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/add_book.css' %}">
{% endblock %}

{% block content %}

<div class="students-page">

    <!-- HEADER -->

    <div class="top-header">

        <div class="header-left">

            <a href="{% url 'books' %}"
               class="back-btn">

                <i class="fa-solid fa-arrow-left"></i>
                Back

            </a>

            <h1 class="page-title">
                Add New Book 📚
            </h1>

            <p class="page-subtitle">
                Add, update or manage library books.
            </p>

        </div>

    </div>

    <!-- BOOK FORM -->

    <div class="form-container">

        <form method="POST">

            {% csrf_token %}

            <div class="input-group">
                <label>Book Title</label>

                <input type="text"
                       name="title"
                       placeholder="Enter book title"
                       required>
            </div>

            <div class="input-group">
                <label>Author</label>

                <input type="text"
                       name="author"
                       placeholder="Enter author name"
                       required>
            </div>

            <div class="input-group">
                <label>Category</label>

                <select name="category" required>
                    <option value="">All Categories</option>
      {% for cat in categories %}
        <option value="{{ cat.id }}" 
        {% if cat.id|stringformat:"s" == selected_category  %}
        selected
        {% endif %}>
        {{ cat.name }}
      </option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group">
                <label>ISBN</label>

                <input type="text"
                       name="isbn"
                       placeholder="Enter ISBN number">
            </div>

            <div class="input-group">
                <label>Quantity</label>

                <input type="number"
                       name="quantity"
                       min="1"
                       placeholder="Available copies"
                       required>
            </div>

            <div class="input-group">
                <label>Status</label>

                <select name="available">
                    <option value="True">Available</option>
                    <option value="False">Issued</option>
                </select>
            </div>

            <div class="button-group">

                <button type="submit"
                        class="add-btn">

                    <i class="fa-solid fa-floppy-disk"></i>
                    Save Book

                </button>

            </div>

        </form>

    </div>

    <!-- BOOKS TABLE -->

    <div class="table-wrapper">

        <div class="table-header">

            <h2>
                Books List 📖
            </h2>

        </div>

        <table>

            <thead>

                <tr>

                    <th>ID</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>ISBN</th>
                    <th>Quantity</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

                {% for book in books %}

                <tr>

                    <td>{{ book.id }}</td>

                    <td>{{ book.title }}</td>

                    <td>{{ book.author }}</td>

                    <td>{{ book.category.name }}</td>

                    <td>{{ book.isbn }}</td>

                    <td>{{ book.quantity }}</td>

                    <td>

                        {% if book.available %}

                        <span class="active-status">
                            Available
                        </span>

                        {% else %}

                        <span class="inactive-status">
                            Issued
                        </span>

                        {% endif %}

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="7"
                        class="empty-row">

                        <i class="fa-solid fa-book-open"></i>

                        <p>No books available.</p>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}