{% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/browsebooks.css' %}" />

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kalnia:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,10OTH:ital,wght@0,1００..９００;1,1００..９００&display=swap"
  rel="stylesheet"
/>

<div class="user-navbar">
  <div class="user-logo">
    <h1>LMS</h1>
  </div>
  <div class="user-nav-links">
    <a href="{% url 'user_dashboard' %}">Profile</a>
    <a href="{% url 'browse_books' %}">Browse Books</a>
    <a href="{% url 'user_books' %}">Books</a>
    <a href="{% url 'user_fines' %}">Fines</a>
  </div>
  <div class="logout-link">
    <a href="{% url 'logout' %}">
      <span class="material-symbols-outlined"> logout </span>
    </a>
  </div>
</div>

<h3>Browse Books</h3>
<p>Search and Borrow Books from our library</p>

<div class="search-section">
  <form method="GET" action="{% url 'browse_books' %}" method="get" class="search-form">
    <input
      type="search"
      id="site-search"
      name="q"
      value="{{query}}"
      placeholder="Search by title, author or ISBN"
    />
    <button type="submit" class="search-button">
      <span class="material-symbols-outlined">search</span>
    </button>
  </form>

  <div class="category-dropdown">
    <form method="GET" action="{% url 'browse_books' %}">
      <select name="category" id="category-select" onchange="this.form.submit()">
      <option value="">All Categories</option>
      {% for cat in categories %}
        <option value="{{ cat.id }}" 
        {% if cat.id|stringformat:"s" == selected_category  %}
        selected
        {% endif %}>
        {{ cat.name }}
      </option>
      {% endfor %}
    </select>
    </form>
  </div>
</div>

<div class="books-grid">
  {% for book in books %}
  <div class="book-card">
    <div class="book-cover">
      {% if book.cover_image %}
      <img src="{{ book.cover_image.url }}" alt="{{book.title}}" />
      {% else %}
      <img src="{% static 'images/book.jpg' %}" alt="Book Cover" />
      {% endif %}
    </div>
    <div class="book-details">
      {% if book.available %}
      <span class="badge available">Available</span>
      {% else %}
      <span class="badge unavailable">Unavailable</span>
      {% endif %}
      <div>
        <h1>{{ book.title }}</h1>
        <p>By {{ book.author }}</p>
        <p>ISBN: {{ book.isbn }}</p>
      </div>
      {% if book.available %}
      <button class="borrow-button">Request to Borrow</button>
      {% else %}
      <button class="borrow-button" disabled>Unavailable</button>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <p>No books found.</p>
  {% endfor %}
</div>

{% endblock content %}
