<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- css -->
     <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!-- navbar -->
    <header class="navbar">
        <div class="logo">
            <img
                src="../assets/images/logo.png"
                alt="logo"
            />           
        </div>

        <nav>
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#">Resources</a>
            <a href="#">About us</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <!-- hero section -->
    <section class="hero">

        <!-- left content -->
        <div class="hero-text">
            <h1>Welcome to <br> Library Management <br> System </h1>

            <h3>Smart Library, <br> Smart Learning </h3>

            <p>A smarter way to manage books, students, <br> and transactions all in one place. </p>

            <div class="buttons">
                <button class="btn">Sign Up</button>
                <button class="btn btn-outline">Login</button>
            </div>
        </div>

        <!-- center image --> 
        <div class="hero-image">
            <div class="circle"></div>
            <img src="../assets/images/center.jpeg" alt="center-image">
        </div>

        <!-- right content -->
         <div class="features-box">
            <div class="feature-card">
                <span>📚</span>
                <p>Extensive Collections</p>
            </div>
            <div class="feature-card">
                <span>👨‍💼</span>
                <p>Easy Management</p>
            </div>
            <div class="feature-card">
                <span>📈</span>
                <p>Real-time Reports</p>
            </div>
         </div>

    </section>

    <!-- bottom section -->
     <section class="bottom-section">
        
        <div class="bottom-text">
            <h2>A complete library solution</h2>

            <p>Our system helps librarians and students stay organized and achieve more.</p>    
        </div>

        <div class="bottom-features">
            <div class="bottom-card">
                <span>📖</span>
                <p>Book Management</p>
            </div>
            <div class="bottom-card">
                <span>👥</span>
                <p>Member Management</p>
            </div>
            <div class="bottom-card">
                <span>💳</span>
                <p>Fine Management</p>
            </div>
            <div class="bottom-card">
                <span>🔁</span>
                <p>Issues and Returns</p>
            </div>
            <div class="bottom-card">
                <span>📊</span>
                <p>Reports and analytics</p>
            </div>
        </div>

     </section>

     <script src="script.js"></script>
</body>
</html>