{% extends "base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/register.css' %}" />

<div class="back-link">
  <a href="{% url 'index' %}">Return Home</a>
</div>
<div class="register-container">
  <div class="register-left-panel">
    <div class="logo-section">
      <img src="{% static 'images/liblogo.jpg' %}" alt="" />
    </div>
    <div class="book-image">
      <img src="{% static 'images/loginbook.png' %}" alt="" />
    </div>
    <div class="register-community-text">
      <h2>Join Our Library Community</h2>
      <p>Login to continue your journey with smart library, smart learning</p>
    </div>
  </div>
  <div class="register-right-panel">
    <h1>Register</h1>
    <p class="subtitle">Fill in the details to register</p>
    {% if messages %} {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %} {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="register-form-grid">
        <div class="register-form-group">
          <label for="full-name">Full Name</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="full-name"
              name="full_name"
              required
              placeholder="Enter your full name"
            />
            <span class="material-symbols-outlined">person</span>
          </div>
        </div>
        <div class="register-form-group">
          <label for="email">Email</label>
          <div class="input-wrapper">
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Enter your email"
            />
            <span class="material-symbols-outlined">email</span>
          </div>
        </div>
        <div class="register-form-group">
          <label for="username">Username</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="username"
              name="username"
              required
              placeholder="Enter your username"
            />
            <span class="material-symbols-outlined">person</span>
          </div>
        </div>
        <div class="register-form-group">
          <label for="phone-number">Phone Number</label>
          <div class="input-wrapper">
            <input
              type="tel"
              id="phone-number"
              name="phone"
              required
              placeholder="Enter your phone number"
            />
            <span class="material-symbols-outlined">phone</span>
          </div>
        </div>
        <div class="register-form-group">
          <label for="student-id">Student ID</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="student-id"
              name="student_id"
              required
              placeholder="Enter your student ID"
            />
            <span class="material-symbols-outlined">id_card</span>
          </div>
        </div>
        <div class="register-form-group">
          <label for="dob">Date of Birth</label>
          <input type="date" id="dob" name="dob" required />
        </div>
        <div class="register-form-group">
          <label for="password">Password</label>
          <div class="password-wrapper">
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Enter your password"
            />
            <span
              class="material-symbols-outlined toggle-password"
              onclick="togglePassword('password', this)"
            >
              visibility
            </span>
          </div>
        </div>

        <div class="register-form-group">
          <label for="confirm-password">Confirm Password</label>
          <div class="password-wrapper">
            <input
              type="password"
              id="confirm-password"
              name="confirm_password"
              required
              placeholder="Confirm your password"
            />
            <span
              class="material-symbols-outlined toggle-password"
              onclick="togglePassword('confirm-password', this)"
            >
              visibility
            </span>
          </div>
        </div>
        <div class="register-form-group">
          <label for="role">
            <p>Select Role</p>
            <select id="role" name="role" required>
              <option value="">Choose your role</option>
              <option value="student">Student</option>
              <option value="admin">Admin</option>
            </select>
          </label>
        </div>
      </div>
      <div class="register-checkbox-group">
        <label for="checkbox">
          <input type="checkbox" id="checkbox" name="checkbox" required />
          I agree to the Terms and Conditions
        </label>
      </div>
      <div class="register-form-footer">
        <p class="register">
          Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>
        <button type="submit" class="reg-btn">Register</button>
      </div>
    </form>
  </div>
</div>

<script>
  function togglePassword(fieldId, icon) {
    const input = document.getElementById(fieldId);
    if (input.type === "password") {
      input.type = "text";
      icon.textContent = "visibility_off";
    } else {
      input.type = "password";
      icon.textContent = "visibility";
    }
  }
</script>
{% endblock %}
